header {
  margin: 15px 0;
}
form {
  margin: 0 20px;
}
body {
  position: relative;
}
.spinner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.errorlog {
  color: red;
  background-color: rgb(0, 0, 0);
}
.Nombre_Home {
  text-align: center;
  margin: auto;
}
.Nombre_Home p {
  width: 40%;
  text-align: center;
  margin: auto;
  color: rgb(255, 255, 255);
  background-color: rgb(18, 41, 41);
}
.MsgLogin {
  text-align: center;
  width: 50%;
  margin: auto;
}
.MsgLogin a {
  text-decoration: none;
  border: 2px solid red;
  background: transparent;
  border-radius: 15px;
  padding: 8px 40px;
  color: rgb(0, 0, 0);
}
.MsgLogin a:hover {
  background-color: antiquewhite;
}
